<template>
  <div class="w-100 h-100 justify-center align-center d-flex">
    <v-card class="w-25 px-6 py-8 h-auto">
      <v-form
        class="d-flex  h-auto flex-column justify-space-between  align-content-space-around">
        <div>
          <h3 class="text-center mb-5">
            Main Admin
          </h3>
          <v-text-field v-model="form.username" class="my-2" label="User Name" variant="outlined"></v-text-field>

          <v-text-field v-model="form.password" class="my-2" label="Password" type="password"
                        variant="outlined"></v-text-field>

        </div>
        <div>
          <v-btn
            class="w-100 mt-6"
            size="large"
            variant="outlined"
            @click="handleClick"
          >
            Login
          </v-btn>
        </div>
      </v-form>
    </v-card>
  </div>
</template>
<script lang="ts" setup>
import {ref} from "vue";
import {useAuth} from "@/stores/auth";
import router from "@/router";


const authStore = useAuth()

const form = ref({
  username: '',
  password: ''
})

const handleClick = () => {
  authStore.login(form.value).then((response) => {
    router.push('/')
  })
}
</script>
