<template>
  <div class="h-100">
    <card-modal :dialog="dialog" :width="'30'" class="h-100" @some-event="callback">
      <div>
        <v-text-field v-model="form.name" label="Название клуб категория" variant="outlined"></v-text-field>
        <v-text-field v-model="form.price" label="Цена" type="number" variant="outlined"></v-text-field>
        <v-text-field v-model="form.description" label="description" variant="outlined"></v-text-field>
        <v-file-input label="Фото"
                      multiple type="file"
                      variant="outlined" @change="changeImage"
        ></v-file-input>
        <v-select v-model="form.club_id" :items="clubData"
                  item-title="name"
                  item-value="id"
                  label="Все клуб" variant="outlined"></v-select>
      </div>
      <v-row>
        <v-col class="d-flex" cols="6">
          <v-btn class="w-100" variant="outlined">Отменить</v-btn>
        </v-col>
        <v-col cols="6">
          <v-btn class="text-white w-100" color="#DC6803" variant="flat" @click="handleForm">Создать</v-btn>
        </v-col>
      </v-row>
    </card-modal>
    <div class="h-25">
      <v-row>
        <v-col cols="6">
          <h3>Популярные клуб категория
          </h3>
          <p>View your team’s trades and transactions.</p>
        </v-col>
        <v-col class="d-flex justify-end" cols="6">
          <add-btn @click="dialog = true"></add-btn>
        </v-col>
        <v-col class="d-flex align-center my-6 justify-space-between" cols="12"
               style="background: #F9FAFB; border-radius: 12px; padding: 12px">
          <input-filter></input-filter>
          <filter-btn></filter-btn>
        </v-col>
      </v-row>
    </div>
    <div class="h-75">
      <v-card class="">
        <div class="pa-6 ">
          <h3>Все клуб категория</h3>
        </div>
        <v-divider></v-divider>
        <v-table
          fixed-header
          height="65vh"
        >
          <thead>
          <tr class="w-100">
            <th v-for="(item, idx) in thead" :key="idx" class="text-left w-auto">
              {{ item.value }}
            </th>

          </tr>
          </thead>
          <tbody>
          <tr v-for="(item, idx) in data" :key="idx" class="w-100"
          >
            <td>
              <v-avatar class="mr-2">
                <v-img
                  :src="imageUrl + item.image"
                  alt="not images"
                ></v-img>
              </v-avatar>
              {{ item.name }}
            </td>
            <td>{{ item.price }}</td>
            <td class="w-auto">
              <v-btn elevation="0" icon="mdi-pen" @click="editItem(item)"></v-btn>
              <v-btn elevation="0" icon="mdi-delete" @click="deleteId(item.id)"></v-btn>
            </td>
          </tr>
          </tbody>
        </v-table>
      </v-card>
    </div>
  </div>
</template>
<script lang="ts" setup>
import $axios from "@/plugins/axios";
import InputFilter from "@/components/baseInput/InputFilter.vue";
import AddBtn from "@/components/baseButton/AddBtn.vue";
import FilterBtn from "@/components/baseButton/FilterBtn.vue";
import CardModal from "@/components/baseModal/CardModal.vue";
import {computed, onMounted, ref} from "vue";
import {useStore} from "@/stores";
import {useImagesStore} from "@/stores/image";

const imageStore = useImagesStore()

const indexStore = useStore()
const imageUrl = import.meta.env.VITE_APP_BASE_IMAGE
const dialog = ref(false)
const editItemValue = ref(0)
const data = ref()
const clubCatId = ref(localStorage.getItem("club_id"))

interface Club {
  id?: number,
  name: string,
  image: string,
  price: number | string,
  club_id: string,
  description: string

}

const form = ref<Club>({
  name: '',
  image: '',
  description: '',
  price: '',
  club_id: 'Выберите клуб',
})

indexStore.fetchActionWithoutParams(`/club`, "club")

const clubData = computed(() => indexStore.data?.club?.clubs)


function getData() {
  $axios.get('/club').then(res => {
    data.value = res.data.clubs[parseInt(clubCatId.value)].club_categories
  })
}

const changeImage = (e: any) => {
  const data = new FormData();
  data.append('path', 'restaurant')
  data.append('file', e.target.files[0])

  imageStore.postImage(data).then(() => {
    form.value.image = imageStore.image?.data?.link

  })
}


const editItem = (item: any) => {
  editItemValue.value = item.id
  form.value.name = item.name
  form.value.image = item.image
  form.value.price = item.price
  form.value.description = item.description
  form.value.club_id = item.club_id
  dialog.value = true
}

const handleForm = () => {
  if (editItemValue.value === 0) {
    indexStore.postAction(`/club/category`, form.value).then(res => {
      if (res) {
        indexStore.fetchActionWithoutParams(`/club`, "club")
      }
    })
  } else {
    indexStore.putAction(`/club/category/${editItemValue.value}`, form.value).then(res => {
      if (res) {
        indexStore.fetchActionWithoutParams(`/club`, "club")
      }
    })
  }
  dialog.value = false
  editItemValue.value = 0
  form.value.name = ''
  form.value.image = ''
  form.value.description = ''
  form.value.price = ''
  form.value.club_id = 'Выберите клуб'
}


const deleteId = (id: number) => {
  indexStore.deleteAction(`/club/${id}`).then((res) => {
    if (res) {
      indexStore.fetchActionWithoutParams(`/club`, "club")
    }
  })
}

const callback = () => {
  dialog.value = false
  editItemValue.value = 0
}

onMounted(() => {
  getData()
})

const thead = [
  {
    value: 'клуб категория'
  },
  {
    value: 'категория price'
  },
  {
    value: ''
  }

]
</script>
