<template>
  <div class="h-100">
    <card-modal :dialog="dialog" :width="'70'" class="h-100" @some-event="callback">
      <v-row>
        <v-col cols="6">
          <v-text-field v-model="form.name" label="Название ресторана" variant="outlined"
          ></v-text-field>
          <v-select v-model="form.restaurant_type_id"
                    :items="restaurantTypeData"
                    item-title="name"
                    item-value="id" label="Категория ресторана" variant="outlined"></v-select>
          <v-row>
            <v-col cols="6">
              <v-text-field v-model="form.prepare_time_start" label="От" type="number"
                            variant="outlined"></v-text-field>
            </v-col>
            <v-col cols="6">
              <v-text-field v-model="form.prepare_time_end" label="До" type="number" variant="outlined"></v-text-field>
            </v-col>
          </v-row>
          <v-file-input label="Все Фото"
                        multiple type="file"
                        variant="outlined" @change="handleImages"
          ></v-file-input>
          <v-file-input accept="image/*" label="Фото лого" variant="outlined"
                        @change="handleLogo"></v-file-input>

          <v-file-input label="Фото главный экран" variant="outlined"
                        @change="handleImage"></v-file-input>

        </v-col>
        <v-col cols="6">
          <v-text-field v-model="form.address.name" label="Адрес ресторана" variant="outlined"
          ></v-text-field>
          <v-row>
            <v-col cols="6">
              <v-text-field v-model="form.address.lat" label="Ланг" variant="outlined"
              ></v-text-field>
            </v-col>
            <v-col cols="6">
              <v-text-field v-model="form.address.long" label="Лонг" variant="outlined"
              ></v-text-field>
            </v-col>
          </v-row>
          <v-text-field v-if="editItemValue === 0" v-model="form.restaurant_support.full_name" label="Имя админа"
                        variant="outlined"
          ></v-text-field>
          <v-text-field v-if="editItemValue === 0" v-model="form.restaurant_support.phone"
                        label="Номер телефона админа" variant="outlined"
          ></v-text-field>
          <v-file-input v-if="editItemValue === 0" label="Фото админа" variant="outlined"
                        @change="handleSupportImage"
          ></v-file-input>
          <v-text-field v-if="editItemValue === 0" v-model="form.restaurant_support.password" label="password"
                        variant="outlined"></v-text-field>
          <v-textarea v-model="form.description" label="Label" variant="outlined"></v-textarea>
        </v-col>
      </v-row>
      <v-divider></v-divider>
      <v-row class="mt-4">
        <v-col class="d-flex justify-end" cols="12">
          <v-btn class="mr-6" variant="outlined">Отменить</v-btn>
          <v-btn class="text-white" color="#DC6803" variant="flat" @click="handlePostForm">Создать</v-btn>
        </v-col>
      </v-row>
    </card-modal>
    <div class="h-25">
      <v-row>
        <v-col cols="6">
          <h3>Рестораны</h3>
          <p>View your team’s trades and transactions.</p>
        </v-col>
        <v-col class="d-flex justify-end" cols="6">
          <add-btn @click="dialogActive"></add-btn>
        </v-col>
        <v-col class="d-flex align-center my-6 justify-space-between" cols="12"
               style="background: #F9FAFB; border-radius: 12px; padding: 12px">
          <input-filter></input-filter>
          <filter-btn></filter-btn>
        </v-col>
      </v-row>
    </div>
    <div class="h-75">
      <v-card class="">
        <div class="pa-6 ">
          <h3>Все рестораны</h3>
        </div>
        <v-divider></v-divider>
        <v-table
          fixed-header
          height="65vh"
        >
          <thead>
          <tr>
            <th v-for="(item, idx) in thead" :key="idx" class="text-left">
              {{ item.value }}
            </th>

          </tr>
          </thead>
          <tbody>
          <tr v-for="(item, idx) in restaurantData"
              :key="idx"
          >

            <td>
              <v-avatar class="mr-2">
                <v-img
                  :src="baseImage + item.image"
                  alt="not images"
                ></v-img>
              </v-avatar>
              {{ item.name }}
            </td>
            <td>{{ item.prepare_time_start }}мин-{{ item.prepare_time_end }}мин</td>
            <td>{{ item.description }}</td>
            <td class="d-flex  align-center">
              <v-switch
                v-model="item.is_blocked"
                color="red"
                hide-details
                inset
                @change="changeStatus(item.id, item.is_blocked)"
              ></v-switch>
              <v-btn elevation="0" icon="mdi-pen" @click="editItem(item)"></v-btn>
              <v-btn elevation="0" icon="mdi-delete " @click="handleDelete(item.id)"></v-btn>
            </td>

          </tr>
          </tbody>
        </v-table>
      </v-card>
    </div>
  </div>
</template>
<script lang="ts" setup>
import InputFilter from "@/components/baseInput/InputFilter.vue";
import AddBtn from "@/components/baseButton/AddBtn.vue";
import FilterBtn from "@/components/baseButton/FilterBtn.vue";
import CardModal from "@/components/baseModal/CardModal.vue";
import {computed, onMounted, ref} from "vue";
import {useImagesStore} from "@/stores/image";
import {useRestaurantStore} from "@/stores/restaurant";
import {useStore} from "@/stores";

const indexStore = useStore()

const imageStore = useImagesStore()
const restaurantStore = useRestaurantStore()
const baseImage = 'https://assistant.in-one.uz/'
const editItemValue = ref(0)

interface Restaurant {
  name: string,
  description: string,
  restaurant_type_id: number | string,
  is_blocked?: boolean,
  address: {
    name: string,
    lat: string,
    long: string
  },
  prepare_time_start: number,
  prepare_time_end: number,
  images: [],
  restaurant_support: {
    full_name: string,
    phone: string,
    image: string,
    password: string
  },
  image: string,
  logo: string
}

const form = ref<Restaurant>({
  name: '',
  description: '',
  restaurant_type_id: 'Выберите категорию',
  address: {
    name: '',
    lat: '',
    long: ''
  },
  prepare_time_start: 30,
  prepare_time_end: 40,
  images: [],
  restaurant_support: {
    full_name: '',
    phone: '',
    image: '',
    password: ''
  },
  image: '',
  logo: ''

})

const dialog = ref(false)

const dialogActive = () => {
  dialog.value = true
}
const callback = () => {
  dialog.value = false

}


const changeStatus = (id: number, status: boolean) => {
  restaurantStore.restaurantStatus(id, status).then((res) => {
    if (res) {
      restaurantStore.fetchRestaurant()
    }
  })
}
const handleImages = (e: any) => {
  const files = e.target.files
  const data = new FormData();
  data.append('path', 'restaurant')
  for (let i = 0; i < files.length; i++) {
    data.append('files', e.target.files[i])
  }

  imageStore.postImages(data).then(() => {
    const image = imageStore.images?.data?.links
    form.value.images = Object.values(image)
  })

}
const handleImage = (e: any) => {
  const data = new FormData();
  data.append('path', 'restaurant')
  data.append('file', e.target.files[0])

  imageStore.postImage(data).then(() => {
    form.value.image = imageStore.image?.data?.link

  })

}
const handleLogo = (e: any) => {
  const data = new FormData();
  data.append('path', 'restaurant')
  data.append('file', e.target.files[0])

  imageStore.postImage(data).then(() => {
    form.value.logo = imageStore.image?.data?.link
  })
}
const handleSupportImage = (e: any) => {
  const data = new FormData();
  data.append('path', 'restaurant')
  data.append('file', e.target.files[0])
  imageStore.postImage(data).then(() => {
    form.value.restaurant_support.image = imageStore.image?.data?.link
  })
}

const editItem = (item: any) => {
  dialog.value = true
  editItemValue.value = item.id
  form.value.name = item.name
  form.value.description = item.description,
    form.value.restaurant_type_id = item.restaurant_type_id,
    form.value.address.name = item.address.name,
    form.value.address.lat = item.address.lat,
    form.value.address.long = item.address.long,
    form.value.prepare_time_start = item.prepare_time_start,
    form.value.prepare_time_end = item.prepare_time_start,
    form.value.images = item.images,
    form.value.image = item.image,
    form.value.logo = item.logo
}

const handlePostForm = () => {
  if (editItemValue.value === 0) {
    indexStore.postAction('/restaurant', form.value).then(res => {
      if (res) {
        restaurantStore.fetchRestaurant()
      }
    })
  } else {
    indexStore.putAction(`/restaurant/${editItemValue.value}`, form.value).then(res => {
      if (res) {
        restaurantStore.fetchRestaurant()
      }
    })
  }
  dialog.value = false
  editItemValue.value = 0
  form.value.name = ''
  form.value.description = '',
    form.value.restaurant_type_id = 'Выберите категорию',
    form.value.address.name = '',
    form.value.address.lat = '',
    form.value.address.long = '',
    form.value.prepare_time_start = 30,
    form.value.prepare_time_end = 40,
    form.value.images = [],
    form.value.restaurant_support.full_name = '',
    form.value.restaurant_support.phone = '',
    form.value.restaurant_support.image = '',
    form.value.restaurant_support.password = '',
    form.value.image = '',
    form.value.logo = ''
}

const handleDelete = (id: number) => {
  restaurantStore.deleteRestaurant(id).then(res => {
    if (res) {
      restaurantStore.fetchRestaurant()
    }
  })
}


const restaurantTypeData = computed(() => restaurantStore.restaurantType?.data?.restaurantTypes)
const restaurantData = computed(() => restaurantStore.restaurantAll?.data?.restaurants)

onMounted(() => {
  restaurantStore.fetchRestaurantType()
  restaurantStore.fetchRestaurant()
})
const thead = [
  {
    name: 'restaurant_name',
    value: 'Название ресторана'
  },
  {
    name: 'dostavki',
    value: 'Лимит доставки'
  },
  {
    name: 'opisanie',
    value: 'Описание'
  },
  {
    name: 'status',
    value: 'Cтатус'
  },

]
</script>
