<template>
  <div class="h-100">
    <card-modal :dialog="dialog" :width="'30'" class="h-100" @some-event="callback">
      <div>
        <v-text-field v-model="form.name" label="Название фильмы" variant="outlined"></v-text-field>
        <v-text-field v-model="form.phone" label="Телефон" type="tel" variant="outlined"></v-text-field>
        <v-text-field v-model="form.description" label="Название Описание" variant="outlined"></v-text-field>
        <v-file-input label="Фото фильмы" variant="outlined" @change="changeImage"></v-file-input>
      </div>
      <v-row>
        <v-col class="d-flex" cols="6">
          <v-btn class="w-100" variant="outlined">Отменить</v-btn>
        </v-col>
        <v-col cols="6">
          <v-btn class="text-white w-100" color="#DC6803" variant="flat" @click="handleForm">Создать</v-btn>
        </v-col>
      </v-row>
    </card-modal>
    <div class="h-25">
      <v-row>
        <v-col cols="6">
          <h3>Популярные фильмы
          </h3>
          <p>View your team’s trades and transactions.</p>
        </v-col>
        <v-col class="d-flex justify-end" cols="6">
          <add-btn @click="dialog = true"></add-btn>
        </v-col>
        <v-col class="d-flex align-center my-6 justify-space-between" cols="12"
               style="background: #F9FAFB; border-radius: 12px; padding: 12px">
          <input-filter></input-filter>
          <filter-btn></filter-btn>
        </v-col>
      </v-row>
    </div>
    <div class="h-75">
      <v-card class="">
        <div class="pa-6 ">
          <h3>Все фильмы</h3>
        </div>
        <v-divider></v-divider>
        <v-table
          fixed-header
          height="65vh"
        >
          <thead>
          <tr class="w-auto">
            <th v-for="(item, idx) in thead" :key="idx" class="text-left w-100">
              {{ item.value }}
            </th>

          </tr>
          </thead>
          <tbody>
          <tr v-for="(item, idx) in cinemaData" :key="idx"
              class=""
          >

            <td>
              <v-avatar class="mr-2">
                <v-img
                  :src="imageUrl + item.image"
                  alt="John"
                ></v-img>
              </v-avatar>
              {{ item.name }}
            </td>
            <td>{{ item.phone }}</td>
            <td>{{ item.description }}</td>

            <td class="d-flex  align-center">
              <v-btn elevation="0" icon="mdi-pen" @click="editItem(item)"></v-btn>
              <v-btn elevation="0" icon="mdi-delete" @click="deleteId(item.id)"></v-btn>
            </td>

          </tr>
          </tbody>
        </v-table>
      </v-card>
    </div>
  </div>
</template>
<script lang="ts" setup>
import InputFilter from "@/components/baseInput/InputFilter.vue";
import AddBtn from "@/components/baseButton/AddBtn.vue";
import FilterBtn from "@/components/baseButton/FilterBtn.vue";
import CardModal from "@/components/baseModal/CardModal.vue";
import {computed, ref} from "vue";
import {useStore} from "@/stores";
import {useImagesStore} from "@/stores/image";

const imageStore = useImagesStore()

const indexStore = useStore()
const imageUrl = import.meta.env.VITE_APP_BASE_IMAGE
const dialog = ref(false)
const editItemValue = ref(0)

interface Dishes {
  id?: number,
  name: '',
  image: '',
  phone: '',
  description: ''

}

const form = ref<Dishes>({
  name: '',
  image: '',
  phone: '',
  description: '',
})

indexStore.fetchActionWithoutParams(`/cinema`, "cinema")

const cinemaData = computed(() => indexStore.data?.cinema?.cinemas)


const changeImage = (e: any) => {
  const data = new FormData();
  data.append('path', 'restaurant')
  data.append('file', e.target.files[0])
  imageStore.postImage(data).then(() => {
    form.value.image = imageStore.image?.data?.link
    console.log(form.value.image)
  })
}

const editItem = (item: any) => {
  editItemValue.value = item.id
  form.value.name = item.name
  form.value.image = item.image
  form.value.phone = item.phone
  form.value.description = item.description
  dialog.value = true
}

const handleForm = () => {
  if (editItemValue.value === 0) {
    indexStore.postAction(`/cinema/`, form.value).then(res => {
      if (res) {
        indexStore.fetchActionWithoutParams(`/cinema`, "cinema")
      }
    })
  } else {
    indexStore.putAction(`/tag/${editItemValue.value}`, form.value).then(res => {
      if (res) {
        indexStore.fetchActionWithoutParams(`/cinema`, "cinema")
      }
    })
  }
  dialog.value = false
  editItemValue.value = 0
  form.value.name = ''
  form.value.image = ''
  form.value.phone = ''
  form.value.description = ''
}


const deleteId = (id: number) => {
  indexStore.deleteAction(`/cinema/${id}`).then((res) => {
    if (res) {
      indexStore.fetchActionWithoutParams(`/cinema`, "cinema")
    }
  })
}

const callback = () => {
  dialog.value = false
  editItemValue.value = 0
}


const thead = [
  {
    value: 'Название фильмы'
  },
  {
    value: 'Телефон'
  },
  {
    value: 'Описание'
  },
  {
    value: ''
  },
]

</script>
