<template>
  <div class="h-100">
    <div class="h-25">
      <v-row>
        <v-col cols="6">
          <h3>Рестораны</h3>
          <p>View your team’s trades and transactions.</p>
        </v-col>
        <v-col class="d-flex justify-end" cols="6">
        </v-col>
        <v-col class="d-flex align-center my-6 justify-space-between" cols="12"
               style="background: #F9FAFB; border-radius: 12px; padding: 12px">
          <input-filter></input-filter>
          <filter-btn></filter-btn>
        </v-col>
      </v-row>
    </div>
    <div class="h-75">
      <v-card class="">
        <div class="pa-6 ">
          <h3>Все рестораны</h3>
        </div>
        <v-divider></v-divider>
        <v-table
          fixed-header
          height="65vh"
        >
          <thead>
          <tr>
            <th v-for="(item, idx) in thead" :key="idx" class="text-left">
              {{ item.value }}
            </th>

          </tr>
          </thead>
          <tbody>
          <tr v-for="(item, idx2) in customerData"
              :key="idx2"
          >

            <td>
              {{ item.full_name || 'Нет информации' }}
            </td>
            <td>{{ item.birth_date }}</td>
            <td>{{ item.phone }}</td>
            <td>{{ item.gender }}</td>
            <td class="d-flex align-center justify-start">
              <v-switch
                v-model="item.is_blocked"
                color="red"
                hide-details
                inset
                @change="changerStatus(item.id, item.is_blocked)"
              ></v-switch>

            </td>

          </tr>
          </tbody>
        </v-table>
      </v-card>
    </div>
  </div>
</template>
<script lang="ts" setup>
import InputFilter from "@/components/baseInput/InputFilter.vue";
import FilterBtn from "@/components/baseButton/FilterBtn.vue";
import {computed, ref} from "vue";
import {useStore} from "@/stores";

const indexStore = useStore()

const dialog = ref(false)

const callback = () => {
  dialog.value = false
}

indexStore.fetchActionWithoutParams('/customer', 'customer')


const customerData = computed(() => indexStore.data?.customer?.customers)

function changerStatus(id: number, status: boolean) {
  indexStore.putAction(`/customer/${id}/status`, {
    is_blocked: status
  })
  //   .then((res) => {
  //   if (res) {
  //     indexStore.fetchActionWithoutParams('/customer', 'customer')
  //   }
  // })
}

const thead = [
  {
    name: '',
    value: 'Ресторан админ'
  },
  {
    name: '',
    value: 'Delivery date'
  },
  {
    name: '',
    value: 'phone'
  },
  {
    name: '',
    value: 'Пол'
  },
  {
    name: 'status',
    value: 'Cтатус'
  },
  {
    name: '',
    value: ''
  }
]
const tbody = [
  {
    id: 1,
    restaurant_name: 'Merhaba',
    dostavki: '30мин-90мин',
    opisanie: 'Капитан Шэм пригласил всех нас в ресторан , чтобы обсудить вопрос опекунства.',
    status: true,
  },
  {
    id: 2,
    restaurant_name: 'Merhaba',
    dostavki: '30мин-90мин',
    opisanie: 'Капитан Шэм пригласил всех нас в ресторан , чтобы обсудить вопрос опекунства.',
    status: false,
  },
  {
    id: 3,
    restaurant_name: 'Merhaba',
    dostavki: '30мин-90мин',
    opisanie: 'Капитан Шэм пригласил всех нас в ресторан , чтобы обсудить вопрос опекунства.',
    status: true,
  },
  {
    id: 4,
    restaurant_name: 'Merhaba',
    dostavki: '30мин-90мин',
    opisanie: 'Капитан Шэм пригласил всех нас в ресторан , чтобы обсудить вопрос опекунства.',
    status: false,
  }

]
</script>
