<template>
  <div class="h-100">
    <card-modal :dialog="dialog" :width="'30'" class="h-100" @some-event="callback">
      <div>
        <v-text-field v-model="form.full_name" label="ФИО" variant="outlined"></v-text-field>
        <v-text-field v-model="form.car_number" label="Номер машины" variant="outlined"></v-text-field>
        <v-text-field v-model="form.phone" label="Телефон" type="number" variant="outlined"></v-text-field>
      </div>
      <v-row>
        <v-col class="d-flex" cols="6">
          <v-btn class="w-100" variant="outlined">Отменить</v-btn>
        </v-col>
        <v-col cols="6">
          <v-btn class="text-white w-100" color="#DC6803" variant="flat" @click="handleForm">Создать</v-btn>
        </v-col>
      </v-row>
    </card-modal>
    <div class="h-25">
      <v-row>
        <v-col cols="6">
          <h3>Популярные курьер
          </h3>
          <p>View your team’s trades and transactions.</p>
        </v-col>
        <v-col class="d-flex justify-end" cols="6">
          <add-btn @click="dialog = true"></add-btn>
        </v-col>
        <v-col class="d-flex align-center my-6 justify-space-between" cols="12"
               style="background: #F9FAFB; border-radius: 12px; padding: 12px">
          <input-filter></input-filter>
          <filter-btn></filter-btn>
        </v-col>
      </v-row>
    </div>
    <div class="h-75">
      <v-card class="">
        <div class="pa-6 ">
          <h3>Все курьер</h3>
        </div>
        <v-divider></v-divider>
        <v-table
          fixed-header
          height="65vh"
        >
          <thead>
          <tr class="w-100">
            <th v-for="(item, idx) in thead" :key="idx" class="text-left w-auto">
              {{ item.value }}
            </th>

          </tr>
          </thead>
          <tbody>
          <tr v-for="(item, idx) in curierData" :key="idx" class="w-100"
          >
            <td>

              {{ item.full_name }}
            </td>
            <td>{{ item.car_number }}</td>
            <td>{{ item.phone }}</td>
            <td class="w-auto">
              <v-btn elevation="0" icon="mdi-pen" @click="editItem(item)"></v-btn>
              <v-btn elevation="0" icon="mdi-delete" @click="deleteId(item.id)"></v-btn>
            </td>
          </tr>
          </tbody>
        </v-table>
      </v-card>
    </div>
  </div>
</template>
<script lang="ts" setup>
import InputFilter from "@/components/baseInput/InputFilter.vue";
import AddBtn from "@/components/baseButton/AddBtn.vue";
import FilterBtn from "@/components/baseButton/FilterBtn.vue";
import CardModal from "@/components/baseModal/CardModal.vue";
import {computed, onMounted, ref} from "vue";
import {useStore} from "@/stores";

const indexStore = useStore()

const dialog = ref(false)
const editItemValue = ref(0)
const data = ref()

interface Curier {
  id?: number,
  full_name: string,
  car_number: string,
  phone: string,

}

const form = ref<Curier>({
  full_name: '',
  car_number: '',
  phone: '',
})

indexStore.fetchActionWithoutParams(`/curier/`, "curier")

const curierData = computed(() => indexStore.data?.curier?.curiers)

console.log(curierData, 'data')


const editItem = (item: any) => {
  editItemValue.value = item.id
  form.value.full_name = item.full_name
  form.value.car_number = item.car_number
  form.value.phone = item.phone
  dialog.value = true
}

const handleForm = () => {
  if (editItemValue.value === 0) {
    indexStore.postAction(`/curier/`, form.value).then(res => {
      if (res) {
        indexStore.fetchActionWithoutParams(`/curier/`, "curier")
      }
    })
  } else {
    indexStore.putAction(`/curier/${editItemValue.value}`, form.value).then(res => {
      if (res) {
        indexStore.fetchActionWithoutParams(`/curier/`, "curier")
      }
    })
  }
  dialog.value = false
  editItemValue.value = 0
  form.value.full_name = ''
  form.value.car_number = ''
  form.value.phone = ''
}


const deleteId = (id: number) => {
  indexStore.deleteAction(`/curier/${id}`).then((res) => {
    if (res) {
      indexStore.fetchActionWithoutParams(`/curier`, "curier")
    }
  })
}

const callback = () => {
  dialog.value = false
  editItemValue.value = 0
}

onMounted(() => {
})

const thead = [
  {
    value: 'ФИО'
  },
  {
    value: 'Номер машины'
  },
  {
    value: 'Телефон'
  },
  {
    value: ''
  }
]
</script>
