<template>
  <v-dialog v-model="props.dialog" :style="{'width': props.width + '%'}" class=" h-100" persistent>
    <v-card class="h-100">
      <div>
        <div class="d-flex align-center py-5 px-6">
          <v-card-title>ДОБАВИТЬ</v-card-title>
          <v-spacer></v-spacer>
          <v-icon icon="mdi-close-thick" @click="$emit('someEvent')"
          ></v-icon>
        </div>
        <v-divider></v-divider>
        <div class="py-5 px-6">
          <slot></slot>
        </div>
      </div>
    </v-card>
  </v-dialog>
</template>
<script lang="ts" setup>

const props = defineProps({
  dialog: Boolean,
  width: String
})


</script>
