<template>
  <div class="h-100">
    <card-modal :dialog="dialog" :width="'30'" class="h-100" @some-event="callback">
      <div>
        <v-text-field v-model="form.full_name" label="ФИО" variant="outlined"></v-text-field>
        <v-text-field v-model="form.username" label="ИМЯ" variant="outlined"></v-text-field>
        <v-text-field v-if="editItemValue === 0" v-model="form.password" label="Пароль"
                      variant="outlined"></v-text-field>
        <v-switch
          v-model="form.is_dispatcher"
          color="green"
          hide-details
          inset
        ></v-switch>
      </div>
      <v-row>
        <v-col class="d-flex" cols="6">
          <v-btn class="w-100" variant="outlined">Отменить</v-btn>
        </v-col>
        <v-col cols="6">
          <v-btn class="text-white w-100" color="#DC6803" variant="flat" @click="handleForm">Создать</v-btn>
        </v-col>
      </v-row>
    </card-modal>
    <div class="h-25">
      <v-row>
        <v-col cols="6">
          <h3>Админы ресторана</h3>
          <p>View your team’s trades and transactions.</p>
        </v-col>
        <v-col class="d-flex justify-end" cols="6">
          <add-btn @click="dialog = true"></add-btn>
        </v-col>
        <v-col class="d-flex align-center my-6 justify-space-between" cols="12"
               style="background: #F9FAFB; border-radius: 12px; padding: 12px">
          <input-filter></input-filter>
          <filter-btn></filter-btn>
        </v-col>
      </v-row>
    </div>
    <div class="h-75">
      <v-card class="">
        <div class="pa-6 ">
          <h3>Все Admins</h3>
        </div>
        <v-divider></v-divider>
        <v-table
          fixed-header
          height="65vh"
        >
          <thead>
          <tr class="w-100">
            <th v-for="(item, idx) in thead" :key="idx" class="text-left ">
              {{ item.value }}
            </th>

          </tr>
          </thead>
          <tbody class="w-100">
          <tr v-for="(item, idx) in adminData" :key="idx"
              class="w-100"
          >
            <td class="w-auto">
              {{ item.full_name }}
            </td>
            <td class="w-auto">
              {{ item.username }}
            </td>
            <td class="d-flex align-center w-auto">
              <v-switch
                v-model="item.is_dispatcher"
                color="green"
                disabled
                hide-details
                inset
              ></v-switch>
              <v-btn elevation="0" icon="mdi-pen" @click="editItem(item)"></v-btn>
              <v-btn elevation="0" icon="mdi-delete" @click="deleteId(item.id)"></v-btn>
            </td>
          </tr>
          </tbody>
        </v-table>
      </v-card>
    </div>
  </div>
</template>
<script lang="ts" setup>
import InputFilter from "@/components/baseInput/InputFilter.vue";
import AddBtn from "@/components/baseButton/AddBtn.vue";
import FilterBtn from "@/components/baseButton/FilterBtn.vue";
import CardModal from "@/components/baseModal/CardModal.vue";
import {computed, reactive, ref} from "vue";
import {useStore} from "@/stores";

const indexStore = useStore()

const dialog = ref(false)
const editItemValue = ref(0)

interface Admin {
  full_name: string,
  password: string,
  username: string,
  is_dispatcher: boolean,
}

let form = reactive<Admin>({
  full_name: '',
  password: '',
  username: '',
  is_dispatcher: false,
})

indexStore.fetchActionWithoutParams('', 'admin')
const adminData = computed(() => indexStore.data?.admin?.admins)


const editItem = (item: any) => {
  dialog.value = true
  editItemValue.value = item.id
  form.username = item.username
  form.full_name = item.full_name
  form.password = item.password
  form.is_dispatcher = item.is_dispatcher
}

const handleForm = () => {
  if (editItemValue.value === 0) {
    indexStore.postAction('', form).then(res => {
      if (res) {
        indexStore.fetchActionWithoutParams('', 'admin')
      }
    })
  } else {
    indexStore.putAction(`/${editItemValue.value}`, form).then(res => {
      if (res) {
        indexStore.fetchActionWithoutParams('', 'admin')
      }
    })
  }
  dialog.value = false
  form = {
    full_name: '',
    password: '',
    username: '',
    is_dispatcher: false,
  }
}
const deleteId = (id: number) => {
  indexStore.deleteAction(`${id}`).then(res => {
    if (res) {
      indexStore.fetchActionWithoutParams('', 'admin')
    }
  })
}

const callback = () => {
  dialog.value = false
  editItemValue.value = 0
}

const thead = [
  {
    value: 'Имя'
  },
  {
    value: 'Login'
  },
  {
    value: 'Диспетчер'
  },

]

</script>
